<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>

<p>First member: <%= flash[:first_user_name] %></p>
<p>Second member: <%= flash[:second_user_name] %></p>
<p>name: <%= @team.name %></p>